<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>

    <link rel="stylesheet"
          href="{{ url_for('static',
          filename='edit_post.css') }}">
</head>
<body>
    <div class="top-navbar">
        <a href="javascript:history.back()" class="back-btn"><img src="{{ url_for('static', filename='icons/turn-back.png')}}"></a>
        <h3>Edit Post</h3>
    </div>

    <form method="POST"
          enctype="multipart/form-data">

        <div class="preview">

            <img src="{{ url_for(
                'static',
                filename='users/' + username + '/' + post['post']
            ) }}">

        </div>

        <label>Caption</label>

        <textarea
            name="caption"
            rows="4">{{ post['caption'] }}</textarea>

        <label>Replace Image (Optional)</label>

        <input
            type="file"
            name="new_image"
            accept="image/*">

        <button type="submit">
            Save Changes
        </button>

    </form>

</body>
</html>