<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='home.css') }}"
    />
  </head>
  <body>
    <div class="top-navbar">
      <h3>FEED</h3>
    </div>

    <div class="feed">
      {% for post in posts %}

      <div id="view-post">
        <div id="user">
          <a
            href="{{ url_for('users_bp.view_user', username=post['username']) }}"
          >
            <img
              class="profile-pic"
              src="{{ url_for(
              'static',
              filename='profile_pics/' + userpics[post['username']]['profile_pic']
            ) }}"
            />
          </a>

          <div class="user-info">
            <a
              href="{{ url_for('users_bp.view_user', username=post['username']) }}"
            >
              <span class="username">{{ post['username'] }}</span>
            </a>
          </div>

          <button
            class="follow-btn {% if post['username'] in following_users %}following{% endif %}"
            data-user="{{ post['username'] }}"
            onclick="toggleFollow(this)"
          >
            {% if post['username'] in following_users %} Following {% else %}
            Follow {% endif %}
          </button>
        </div>

        <div id="all-posts">
          <!-- <img src="{{ url_for(
          'static',
          filename = 'users/' + username + '/' + post['post']
        ) }}> -->
          <img
            class="post-image"
            src="{{ url_for(
            'static',
            filename='users/' + post['username'] + '/' + post['post']
        ) }}"
          />
          <!-- Caption -->

          {% if post['caption'] %}
          <div class="caption">
            <span class="username">{{ post['username'] }}</span>
            {{ post['caption'] }}
          </div>
          {% endif %}
        </div>
      </div>

      {% else %}

      <div class="empty-state">
        <p>No posts to show</p>
      </div>

      {% endfor %}
    </div>

    <div class="bottom-nav">
      <a href="#" class="active">
        <img src="{{ url_for('static', filename='icons/home.png') }}" />
      </a>

      <a href="/search">
        <img src="{{ url_for('static', filename='icons/search.png') }}" />
      </a>

      <a href="/add">
        <img src="{{ url_for('static', filename='icons/add.png') }}" />
      </a>

      <a href="/notification">
        <img src="{{ url_for('static', filename='icons/heart.png') }}" />
      </a>

      <a href="/profile">
        <img src="{{ url_for('static', filename='icons/profile.png') }}" />
      </a>
    </div>
    <script src="{{ url_for('static', filename='home.js') }}"></script>
  </body>
</html>
