<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <link rel="stylesheet" href="{{url_for('static', filename='user_posts.css')}}">
</head>

<body>
    <div class="top-navbar">
        <a href="/profile" class="back-btn"><img src="{{ url_for('static', filename='icons/turn-back.png')}}"></a>
        <h3>YOUR POSTS</h3>
    </div>

    <div id="posts-container">

        {% for post in posts %}

        <div class="post">

            <div class="post-actions">
                <a href="{{ url_for('posts_bp.edit_post', post_id=post['id']) }}" class="icon-btn edit-link">
                    <img
                        class="action-icon"
                        src="{{ url_for('static', filename='icons/edit.png') }}"
                        alt="Edit">
                </a>

                <button
                    class="icon-btn delete-btn"
                    type="button"
                    data-url="{{ url_for('posts_bp.delete_post', post_id=post['id']) }}"
                >
                    <img
                        class="action-icon"
                        src="{{ url_for('static', filename='icons/trash.png') }}"
                        alt="Delete"
                    >
                </button>
            </div>

            <div class="post-image-wrap">
                <img
                    class="post-image"
                    src="{{ url_for(
                    'static',
                    filename='users/' + username + '/' + post['post']
                ) }}">
            </div>

            {% if post['caption'] %}
            <p class="post-caption">{{ post['caption'] }}</p>
            {% endif %}

        </div>

        {% else %}

        <div class="empty-state">
            <p>No posts yet</p>
        </div>

        {% endfor %}

    </div>
    <script  src="{{url_for('static', filename='user_posts.js')}}"></script>
</body>
</html>